p{
    font-family: Roboto,Arial;
}
body{
    font-family: Roboto,Arial;
}
.video-grid{
    display: grid;
    margin-top: 80px;
    
    margin-left: 80px;
    background-color: rgb(252, 245, 245);
}
@media screen and (max-width:580px){
    .video-grid{
    grid-template-columns:1fr;
}}
@media screen and (min-width: 580px) and (max-width:800px){
    .video-grid{
    grid-template-columns:1fr 1fr;
}}

@media screen and (min-width: 800px) and (max-width:1199px){
    .video-grid{ 
    grid-template-columns:1fr 1fr 1fr;
} }
@media screen and (min-width: 1199px){
   .video-grid{ 
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}}
p{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}
.video-description{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;

    
}
.video-time{
    font-family: Roboto,Arial;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 25px;
    right: 15px;
    z-index: 0;
    padding: 5px;
}
.channel-dp{ 
    padding: 10px;
}
.video-title{
    padding: 10px;
    flex:1;
}

.one-video{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
}
.thumbnail{
    flex-shrink:0 ;
    padding:5px;
    position: relative;
    
}
.thumbnail-image{
    flex: 1;
    width: 100%;
    text-align: center;
    object-fit: contain;
}
.channel-dp-image{
    
    height: 30px;
    border-radius: 15px;
}
.video-name{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    flex-shrink: 0;
    display: block;
    
    
}
.channel-name{
    font-size: 15px;
    margin-bottom: 10px;
}
.video-views{
    font-size: 15px;
}

.header-bar{
    background-color: white;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    z-index: 100;
    
}
.side-bar{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 50px;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 80px;
    justify-content: top;
    align-items:center;
}
.left-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.middle-section{
    position: relative;
    flex: 1;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right-section{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    justify-content: space-between;
    flex-shrink: 0;
    

}
.menu-bar{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.menu-bar-image{
    text-align: center;
    width: 25px;
    cursor: pointer;
}
.logo-container{
    text-align: center;
}
.logo-image{
    margin-left: 5px;
    width: 90px;
    cursor: pointer;

}
.search-bar{
    flex: 1;
    font-family: Roboto ,Arial;
    padding-left: 10px;
    width: 0;
    font-weight: 400;
    font-size: 16px;
    height: 35px;
    margin-top:10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(216, 211, 211);
    border-radius: 2px;
    border-width: 1px;
    
    
}
.search-bar::placeholder{
    color: rgb(187, 180, 180);
    font-family: Roboto, Arial;
}
.search-icon{
    
    padding: 7px;
    height: 23px;
    width: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    margin-top:14px;
    margin-bottom: 10px;
    margin-left: -2px;
    border-style: solid;
    border-color: rgb(216, 211, 211);
    border-radius: 2px;
    border-width: 1px;
}
.search-icon:hover{
    background-color: grey;

}

.icon-image{
   text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    display: block;
 
}
.icon-image:hover{
    background-color: rgb(199, 189, 189);
}
.container-icon-image{
    margin: 0px;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 30px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    flex:1;
    
 
}



.voice-icon-image{
    height: 25px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 20px;
    border-style: none;
   
    cursor: pointer;
    border-width: 1px;
    background-color: rgb(249, 246, 246);
}
.voice-icon-image:hover{
    background-color: rgb(144, 142, 142);
}
.side-bar-menu{
 cursor: pointer;
 margin: 5px;
 padding: 10px;
 height: 45px;
 width: 50px;
 font-family: Roboto,Arial;
 font-size: 10px;
 text-align: center;
}
.side-bar-icons{
    align-items: center;
    justify-content: center;
    height: 30px;
    text-align: center;
}
.tooltip{
    white-space: nowrap;
    position: absolute;
    z-index: 150;
    bottom: -45px;
    opacity: 0;
    transition: opacity 0.19s;
    background-color: rgb(222, 214, 214);
    padding: 10px;
    font-family: Roboto,Arial;
    font-weight: 500;

}
.search-icon-container{
    position: relative;
    margin: 0;
}
.search-icon-container:hover .tooltip{
    opacity: 1;
}
.tooltip-right{
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    z-index: 150;
    bottom: -30px;
    transition: opacity 0.19s;
    background-color: rgb(222, 214, 214);
    padding: 10px;
    font-family: Roboto,Arial;
    font-weight: 500;
    border-radius: 2px;
}
.container-icon-image:hover .tooltip-right{
    opacity: 1;
}
.tooltip-notification{
    position: absolute;
    font-size: 16px;
    text-align: center;
    background-color: red;
    height: 20px;
    width: 18px;
    border-radius: 15px;
    top: 15px;
    right: 0;

}
